# Optional service settings
# GOOGLE_SPREADSHEET_ID=1BUxcy4ZNN0_GRAqiV032OdKvaZ-I5gKu4d8C06klQqc
# GOOGLE_CLIENT_EMAIL=your-service-account-email@your-project.iam.gserviceaccount.com
# GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Google Sheets sync
GOOGLE_SPREADSHEET_ID=1BUxcy4ZNN0_GRAqiV032OdKvaZ-I5gKu4d8C06klQqc
GOOGLE_CLIENT_EMAIL=your-service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Admin auth
ADMIN_USERNAME=eyevision
ADMIN_PASSWORD=aravind4906
JWT_SECRET=dev-only-not-secure
